@import 'lib/styles/_global.postcss';
@import 'lib/styles/_variables.postcss';
@import 'lib/styles/_fonts.postcss';
@import 'lib/styles/_buttons.postcss';

body {
	font-family: 'Inter', sans-serif;
	background-color: var(--color-gray-1000);
	color: var(--color-gray-50);
}
